<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ulyraq.net.nz/thymleaf/layout"
      xmlns:sec="http://www.thymleaf.org/extras/spring-security"
       layout:decorate="template.html">
<head>
    <meta charset="UTF-8">
    <title>403</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="container">
    <h2 class="text-danger">you're not Authorized to access this page</h2>
</div>
</div>
</body>
</html>