<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ulyraq.net.nz/thymleaf/layout"
       layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Creer un nouveau Etudiant</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-7 offset-3" style="background-color: aliceblue">
        <form method="post" th:action="@{/admin/save}" style="">
            <div>
                <label for="nom">Nom</label>
                <input id="nom" class="form-control" type="text" name="nom" th:value="${etudiant.getNom()}">
                <small  class="text-danger" th:errors="${etudiant.nom}"></small>
            </div>
            <div>
                <label for="prenom">Prenom</label>
                <input id="prenom" class="form-control" type="text" name="prenom" th:value="${etudiant.getPrenom()}">
                <span class="text-danger" th:errors="${etudiant.prenom}"></span>
            </div>
            <div>
                <label for="email">Email</label>
                <input id="email" class="form-control" type="email" name="email" th:value="${etudiant.getEmail()}">
                <span class="text-danger" th:errors="${etudiant.email}"></span>
            </div>
            <div>
                <label for="dateNaissance">Date Naissance</label>
                <input id="dateNaissance" class="form-control" type="date" name="dateNaissance" th:value="${etudiant.getDateNaissance()}">
                <span class="text-danger" th:errors="${etudiant.dateNaissance}"></span>
            </div>
            <div>
                <label for="genre">Genre</label>
                <select id="genre" class="form-select" name="genre">
                    <option disabled selected > choisir le genre </option>
                    <option value="MASCULIN" th:selected="${etudiant.getGenre()=='MASCULIN'}" >MASCULUN</option>
                    <option value="FEMININ" th:selected="${etudiant.getGenre()=='FEMININ'}" >FEMININ</option>
                </select>
                <span class="text-danger" th:errors="${etudiant.genre}"></span>
            </div>
            <div style="margin-top: 10px">
                <label for="onRegle" >OnRegle</label>
            <input id="onRegle" type="checkbox" name="onRegle" value="true" th:checked="${etudiant.isOnRegle()}" >
                <span class="text-danger" th:errors="${etudiant.onRegle}"></span>
            </div>
            <button type="submit" class="btn btn-outline-primary">save</button>
        </form>

    </div>
</div>
</div>
</body>
</html>