<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ulyraq.net.nz/thymleaf/layout"
      xmlns:sec="http://www.thymleaf.org/extras/spring-security"
      layout:decorate="template.html">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <style>
        body {
            background-image: url("/bg.jpg");
            background-repeat: none;
            background-position: center;
            background-size: cover;
        }
    </style>
</head>
<body>
<div layout:fragment="content1">

</div>
</body>
</html>